@font-face {
  font-family: 'Ramche';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Ramche' !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.light {
  background-color: #fff;
  color: #333;
}

body.dark {
  background-color: #333;
  color: #fff;
}

body.dark ul, body.dark svg {
  background-color: transparent;
  color: #fff;
}

body.dark button:hover {
  background-color: #444;
}
