@font-face {
  font-family: 'Ramche';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Ramche' !important;
}

body {
  margin: 0;
  font-family: 'Ramche';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Ramche';
}

img.emoji { width: 12px; vertical-align: middle; padding: 3px 0; }
